/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)),url("back.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    font-family: Lato;
    font-weight: 300;
    color: #555555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    height: 600px;
    width: 50%;
    float: left;
    padding: 100px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus { outline: none; }

.btn-new {top: 45px;}
.btn-roll {top: 405px;}
.btn-hold {top: 470px;}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    font-size: 80px;
    text-align: center;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.player-current-box {
    background-color: #EB4D4D;
    color: #ffffff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222222;
}

.player-current-score {
    font-size: 30px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 52px;
    color: #EB4D4D;
    position: absolute;
    top: -9px;
    right: 12px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    height: 100px;
    transform: translateX(-50%);
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    transition: width 1s, height 1s;
}

.final-score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 520px;
    width: 160px;
    color: #555555;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Lato;
    text-align: center;
    padding: 10px;
}

.final-score:focus {
    outline: none;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }